## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Hilo,US,75.79,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,3,Labuhan,ID,78.42,scattered clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
2,7,Atuona,PF,77.45,light rain,-9.8000,-139.0333,Villa Enata
3,8,Castro,BR,87.15,clear sky,-24.7911,-50.0119,CHACARA BAILLY
4,16,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

max_temp = vacation_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Lixourion")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Lixourion")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Corinto")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Asini")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Methoni")]

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

for index, row in vacation_start.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    start = [lat , lng]
    
print(start)
    
for index, row in vacation_end.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    end = [lat , lng]
print (end)

for index, row in vacation_stop1.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    stop1 = [lat , lng]
print(stop1)

for index, row in vacation_stop2.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    stop2 = [lat , lng]
print(stop2)

for index, row in vacation_stop3.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    stop3 = [lat , lng]
print(stop3)

[38.2019, 20.4314]
[38.2019, 20.4314]
[37.9407, 22.9573]
[37.5454, 22.8621]
[36.8197, 21.7049]

In [51]:
type (start)

list

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

GreeceTrip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer (GreeceTrip)

fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,553,Lixourion,GR,80.46,clear sky,38.2019,20.4314,Hotel Summery
1,358,Corinto,GR,89.62,clear sky,37.9407,22.9573,Ephira Hotel
2,505,Asini,GR,81.21,clear sky,37.5454,22.8621,Dolphin Hotel
3,263,Methoni,GR,81.21,clear sky,36.8197,21.7049,Methoni Beach Hotel

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Add a heatmap of temperature for the vacation spots and marker for each city.


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))